/*
green #a6e3bb
yellow #fbb829
grey #666666
*/

body { 
	max-width: 980px;
	background-image:url('/Users/Laura/github/local/wsd/images/bkg.png');
    font-family: 'bell mt', sans-serif; 
    font-size: 100%;
    margin: 25px auto;
	}

#wrapper{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

header{
	background-color: #ffffff; 
	}
	
h1{
	font-style:normal; 
	font-family: 'bell mt', sans-serif; 
	font-size: 2.75em; /*44px*/
	color: #a6e3bb; 
	text-align: center; 
	text-shadow: 2px 2px 2px #000000;
	margin: 0%;
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%;  
	padding-bottom: 1%;  
	padding-top: 3.061224489%; /*30px*/
	float: left;
	}
	
h2 { 
	font-style:normal; 
	font-family: 'bell mt', sans-serif; 
	color: #fbb829; 
	text-align: center; 
	margin: 0%;
	clear: both;
	background: #ffffff;
	border-style: solid; 
	border-width: 2px;
	border-color: #666666;
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 1%; 
	}

h3 {
	font-style:normal; 
	font-family: 'bell mt', sans-serif; 
	color: #a6e3bb; 
	text-align: center; 
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 1%;  
	clear: both;
	background: #ffffff;
	border-style: solid; 
	border-width: 2px;
	border-color: #666666;
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 1%; 
	}

nav {
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.125em; /*18px*/ 
	text-align: center;
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 1%; 
	float: right;
	}
	
.navigation{
    list-style-type: none;
	}
	
p {
	margin: 1.0204082%;
	padding-top: 1.0204082%; /*10px*/
}
	
a:link { 
	color: #666666;
	}
	
a:hover { 
	color: #fbb829;
	}

.image { 
	float: left;
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 3.5%; 
	}	
#photos{
	max-width: 100%;
}	

#mainImage{
	width: 45%;
}
.ingredients {
	font-family: 'Montserrat', sans-serif; 
	font-size: .875em; /*14px*/
	line-height: 19px; 
	color: #666666; 
	background-color: #ffffff; 
	padding-left: 3.06%; 
	padding-right: 3.06%;
	padding-bottom: 1%; 
	padding-top: 1%; 
	list-style-type: circle;
	clear:both;
	border-style: solid; 
	border-width: 2px;
	border-color: #666666;
	}
	
.directions {
	font-family: 'Montserrat', sans-serif; 
	font-size: .875em;  
	color: #666666; 
	background-color: #ffffff; 
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 1%; 
	border: #666666;
	border-style: solid; 
	border-width: 2px;
	border-color: #666666;
	}
		
.disclaimer {
	font-family: 'Montserrat', sans-serif; 
	font-size:.75em; /*12px*/ 
	text-align: center; 
	color: #fbb829; 
	background-color: #ffffff; 
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 1%;
	border-style: solid; 
	border-width: 2px;
	border-color: #666666; 
	}		 

.imageBanner {
	float:left;
	width: 17.959184%;
	margin: 1.0204082%;
	}
		
footer { 
	font-variant:small-caps; 
	font-family: 'Montserrat', sans-serif; 
	text-align: center; 
	font-size:.625em; /*10px*/
	background-color: #ffffff; 
	padding-left: 1.0204082%; /*10px*/
	padding-right: 1.0204082%; 
	padding-bottom: 1%; 
	padding-top: 1%; 
	-moz-columns: 3;
	clear: both;
	border-style: solid; 
	border-width: 2px;
	border-color: #666666;
	}

/* MEDIA QUERIES*/	
  
@media only screen and (min-width: 481px) and (max-width: 767px) {
   body{background-color: #666666}
   header{background-color: transparent;}
   .ingredients {font-size: 1em;list-style-type: none;}
   .directions {font-size: 1em;}
   .navigation{text-align: center;} 
   nav {float: none; font-size: 1.2em; text-align: center; word-spacing: 20px;}
   h1 {float: none; font-size: 3em;}
   }
        
@media only screen and (min-width: 320px) and (max-width:480px ) {
   header{background-color: transparent;}
   body{background-image:none; background-color: #fbb829}
   .image { display: none;}
   .imageBanner { display: none;}
   .ingredients {font-size: .9em;list-style-type: none;}
   .directions {font-size: .9em;}
   .navigation{text-align: center;}
   nav {float: none; font-size: 1em; text-align: center; padding-top: 1%; word-spacing: 10px; }
   h1 {float: none; font-size: 2em;}
   .disclaimer {font-size:.9em;}
   footer {font-size:.425em;}
   }
   
 @media only screen and (max-width: 319px) {
    header{background-color: transparent;}
    body{background-image:none; background-color: #a6e3bb;}
   .image { display: none;}
   .imageBanner { display: none;}
   .ingredients {font-size: .6em;list-style-type: none;}
   .directions {font-size: .6em;}
   .navigation{text-align: center; }
   nav {float: none; font-size: 1em; text-align: center; padding-top: 1%; word-spacing: 10px;}
   h1 {float: none; font-size: 2em; color: #fbb829;}
   .disclaimer {font-size:1em;}
   footer {font-size:.4em;}
 }